<div id="footer">

    <a href="https://www.facebook.com/rail.bots.3?fref=search">  <i class="fa fa-facebook social" style="font-size:48px"></i></a>
    <a href="https://www.instagram.com/railbots_6029/"><i class="fa fa-instagram social" style="font-size:48px"></i></a>
    <a href="https://twitter.com/railbots_6029?lang=en"><i class="fa fa-twitter" style="font-size:48px"></i></a>
    <ul id="footerUl">

      <li>Home</li>
      <li>About Us</li>
      <li>Members</li>
      <li>Photos</li>

    </ul>

    </div>
    

<script src="/js/railBotsJS.js" id="but"></script>
</body>
</html>
