<!DOCTYPE html>
<html>
<head>
	<title>
		Railbots 6029 Home
	</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/railbotsCSS.css">
    <link rel="stylesheet" type="text/css" href="lightbox.css">
    <script src="lightbox.min.js" id="but"></script>
    
   
</head>
<body>

  <div id="customNavBar">
    <div class="row">
      <div class="col-sm-2"><img src="https://dl.dropboxusercontent.com/s/u18uwanqcvb1gha/Logo.png?dl=0" id=logoSmaller></div>
     
      <div class="col-sm-2 box links"><a href="/home" id="rowColor">Home</a></div>
      
      <div class="col-sm-2 box links" ><a href="/members" id="rowColor">Members</a></div>
     
      <div class="col-sm-2 box links" ><a href="/photos" id="rowColor">Photos</a></div>
      
      <div class="col-sm-2 box links" ><a href="/contact" id="rowColor">Contact Us</a></div>
    
    </div>
  </div>