<% include partials/header.ejs %>

<div id="photoSpace">
    <div id="blackness">
  
      <h1 id="title"><strong>Railbots 6029</strong> </h1>
  
    </div>
  </div>
            
  
  
                <div id="aboutUs">
  
                  <h1>About Us</h1>
  
                 
  
                    
                
                 <h3 id="h3Space"><span>The Railbots are the FRC team of Lincoln Park High School</span></h3>
                 
                    
                   
                  
                    <div id="wordText">
                      <h3 class="h3Space2"><span class="fontStyle">Location:</span>Lincoln Park,Mi</h3>
                      <h3 class="h3Space2"><span class="fontStyle">Team Number:</span>6029</h3>
                      <h3 class="h3Space2"><span class="fontStyle">Rookie Season:</span>2016</h3>
                      <h3 class="h3Space2 "><span class="fontStyle">2018 Team Size:</span>18</h3>
  
                    <div id="frcPadding"><img src="https://dl.dropboxusercontent.com/s/dawgzc3idr5nlbx/FRC.png?dl=0" id="FRC"></div>
                    </div>
                
            
                </div>


<% include partials/footer.ejs %>